* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title > p{
    padding: 10px 90px;
    border-bottom: 1px solid black;
   
}
.content>p{
    color: red;
    font-family: sans-serif;
}
.title > .title-group > img{
    border-radius: 50%;
    
}
.title > .title-group{
    background-color:#ffffff;
    padding: 10px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
     box-shadow : 0px 0px 5px 
}
.title-group{
    display: flex;
}
.title-group>h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding-left: 15px;
    padding-top: 6px;
}
.img2{
    margin-left: 180px;
    
}
.content{
    padding-top: 5px;
    padding-left: 20px;
}
nav{
    background-color: #7ee3f2;
    justify-content:flex-start;
    display: flex;
    padding: 15px;
}
nav> a {
    padding-left: 100PX;
    text-decoration: none;
    font-size: large;
    color: white;
    transition: 0.3s;
}
a:hover{
    color: black;
}
#imp{
  display: flex;
  justify-content: flex-end;
}
.login>a{
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.login>a:hover{
  color: black;
}
.appointment{
  background-color: #66e0ff;
  text-decoration: none;
  height: 45px;
  text-align: center;
  border: none;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 230px;
  color:white;

}

.login{
  margin-left: 10px;
  background-color: #66e0ff;
  height: 45px;
  text-align: center;
  border: none;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
body {
  font-family: 'Georgia', serif;
  color: #1c1f36;
  background-color: #fff;
  line-height: 1.6;
}
.guidelines-section {
  max-width: 900px;
  margin: 80px auto;
  padding: 0 20px;
  text-align: center;
}

.guidelines-section h1 {
  font-size: 2.8em;
  font-weight: 700;
  color: #1a1f36;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.1em;
  color: #4c5a67;
  margin-bottom: 40px;
}

.guidelines-card {
  background-color: #f8fbfc;
  border-radius: 12px;
  padding: 40px 30px;
  text-align: left;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.guidelines-card h3 {
  color: #178d76;
  font-size: 1.3em;
  margin-top: 25px;
  margin-bottom: 8px;
}

.guidelines-card p {
  color: #333;
  margin-bottom: 15px;
  font-size: 1em;
}
.below{
     margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #e3e3e3;
    text-align: center;
    color: #6b6b6b;
    font-size: 16px;
}

/* FOOTER */
footer {
      background-color: #0c3b52;
      color: white;
      padding: 40px 20px;
      display: flex;
      justify-content: space-around;
      text-align: left;
    }

    footer div {
      max-width: 250px;
      margin: 10px;
    }

    footer h4 {
      margin-bottom: 15px;
      color: #fff;
    }

    footer p, footer a {
      color: #dcdcdc;
      font-size: 14px;
      line-height: 1.6;
      text-decoration: none;
    }

    footer a:hover {
      text-decoration: underline;
      color: #6ee7f9;
    }

    .bottom {
      text-align: center;
      background-color: #0c3b52;
      padding: 15px;
      color: #ccc;
      border-top: 1px solid #999;
      font-size: 13px;
    }


