body {
      font-family: Arial, sans-serif;
      background-color: #e6f9fc;
      margin: 0;
      padding: 0;
    }

    .login-container {
      width: 350px;
      margin: 100px auto;
      margin-top:250px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
      padding: 30px;
      text-align: center;
    }

    h2 {
      color: #2dc4c3;
      margin-bottom: 25px;
    }

    .form-group {
      margin-bottom: 20px;
      text-align: left;
    }

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    input[type="text"]:focus,
    input[type="password"]:focus {
      border-color: #2dc4c3;
      outline: none;
    }

    .btn {
      background-color: #2dc4c3;
      color: white;
      border: none;
      padding: 10px 15px;
      width: 100%;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }
    button> a{
        text-decoration: none;
        color: white;
    }
    .btn:hover {
      background-color: #1ca8a7;
    }

    .link {
      margin-top: 15px;
      font-size: 14px;
    }

    .link a {
      color: #2dc4c3;
      text-decoration: none;
    }

    .link a:hover {
      text-decoration: underline;
    }